@using Microsoft.AspNetCore.Components

<button class="bg-red-500 hover:bg-red-700 transition ease-in-out duration-300 text-white font-bold py-2 px-2 rounded-full shadow-lg fixed right-8 bottom-8 shadow-red-400">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke="currentColor" class="h-10 w-10 inline-block align-text-top">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
    </svg>
</button>
